body{
  margin:0;
  padding: 0;
  background-color: rgb(212, 181, 181);
}
.App {
  text-align: center;
}

input{
  width: 30%;
  padding:0.5%;
  border-radius: 15px;
  font-size:100%;
}

ul{
  list-style: none;
}